<%- include("partials/header"); -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" name="composeTitle" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
    <textarea class="form-control" name="composeText" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="buttonPublish">
    <button class="btn btn-primary" type="submit">Publish</button>
  </div>

</form>

<%- include("partials/footer"); -%>
